#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    battery: battery {
        compatible = "zmk,battery";
        io-channels = <&adc 0>;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        kana {
            bindings = <&kp LANGUAGE_1>;
            key-positions = <8 9>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <6 17>;
        };

        gui {
            bindings = <&kp LEFT_GUI>;
            key-positions = <6 16>;
        };

        alpha {
            bindings = <&kp LANGUAGE_2>;
            key-positions = <12 13>;
        };

        alt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <14 26>;
        };

        ToLayer1 {
            bindings = <&to 1>;
            key-positions = <16 28>;
        };

        Fun7 {
            bindings = <&kp F7>;
            key-positions = <16 3>;
        };

        Fun8 {
            bindings = <&kp F8>;
            key-positions = <16 4>;
        };

        Fun9 {
            bindings = <&kp F9>;
            key-positions = <16 5>;
        };

        to_layer2 {
            bindings = <&to 2>;
            key-positions = <28 33>;
        };

        Ctrt+T {
            bindings = <&kp LC(T)>;
            key-positions = <30 10>;
        };

        Ctrl+W {
            bindings = <&kp LC(W)>;
            key-positions = <30 21>;
        };

        Alt+F4 {
            bindings = <&kp LA(F4)>;
            key-positions = <16 12>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
              &kp L  &kp U          &kp F                                     &kp W               &kp R      &kp Y
       &kp E  &kp I  &kp A          &kp O            &kp MINUS         &kp K  &kp T               &kp N      &kp S  &kp H
&kp Q  &kp Z  &kp X  &kp C          &kp V            &mt PERIOD COMMA  &kp G  &kp D               &kp M      &kp J  &kp B  &kp P
              &to 0  &kp BACKSPACE  &mt LCTRL SPACE                           &mt LEFT_SHIFT TAB  &kp ENTER  &to 1
            >;
        };

        layer_1 {
            bindings = <
                  &kp PAGE_UP    &kp UP_ARROW      &kp PAGE_DOWN                            &kp N7        &kp N8        &kp N9
       &kp GRAVE  &kp LEFT       &kp DOWN          &kp RIGHT          &kp MINUS  &kp SLASH  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp N0
&none  &kp SQT    &kp SEMICOLON  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans     &kp EQUAL  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp MINUS  &kp BACKSLASH
                  &to 0          &trans            &trans                                   &trans        &trans        &none
            >;
        };

        layer_2 {
            bindings = <
                            &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                &kp F7  &kp F8  &kp F9
              &bt BT_SEL 1  &none         &none         &none         &none  &none  &kp F4  &kp F5  &kp F6  &none
&bt BT_SEL 0  &none         &none         &none         &none         &none  &none  &kp F1  &kp F2  &kp F3  &none  &none
                            &to 0         &trans        &trans                      &trans  &trans  &to 1
            >;
        };

        layer_3 {
            bindings = <
              &none  &none  &none                &none  &none  &none
       &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
              &none  &none  &none                &none  &none  &none
            >;
        };
    };
};
