#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        kana {
            bindings = <&kp LANGUAGE_1>;
            key-positions = <8 9>;
        };

        tolayer2 {
            bindings = <&to 2>;
            key-positions = <28 33>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <6 17>;
        };

        gui {
            bindings = <&kp LEFT_GUI>;
            key-positions = <17 7>;
        };

        alpha {
            bindings = <&kp LANGUAGE_2>;
            key-positions = <12 13>;
        };

        alt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <14 26>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
              &kp L  &kp U          &kp F                                     &kp W               &kp R      &kp Y
       &kp E  &kp I  &kp A          &kp O            &kp MINUS         &kp K  &kp T               &kp N      &kp S  &kp H
&kp Q  &kp Z  &kp X  &kp C          &kp V            &mt PERIOD COMMA  &kp G  &kp D               &kp M      &kp J  &kp B  &kp P
              &to 0  &kp BACKSPACE  &mt LCTRL SPACE                           &mt LEFT_SHIFT TAB  &kp ENTER  &to 1
            >;
        };

        layer_1 {
            bindings = <
              &none  &none          &none                              &kp N7              &kp N8        &kp N9
       &none  &none  &none          &none            &kp MINUS  &none  &kp NUMBER_4        &kp N5        &kp NUMBER_6  &kp RIGHT_PARENTHESIS
&none  &none  &none  &none          &none            &none      &none  &kp NUMBER_1        &kp NUMBER_2  &kp NUMBER_3  &none                  &none
              &to 0  &kp BACKSPACE  &mt LCTRL SPACE                    &mt LEFT_SHIFT TAB  &kp ENTER     &none
            >;
        };

        layer_2 {
            bindings = <
              &none  &none  &none                &none  &none  &none
       &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
              &none  &none  &none                &none  &none  &none
            >;
        };

        layer_3 {
            bindings = <
              &none  &none  &none                &none  &none  &none
       &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
              &none  &none  &none                &none  &none  &none
            >;
        };
    };
};
